* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 100vw;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    /* margin-inline: 18vw; */
    /* margin-inline: 10%; */
    /* width: 70vw; */
    width: 100%;
    max-width: 1100px;
}

/* ----------------------------------------------------------------------------- */
/* hero section */
.hero__section {
    /* background: url(./images/heroSectionBackground.png); */
    width: 100%;
    background-image: url(./images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 15px 45px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__menu__container {
    display: flex;
    gap: 50px;
}

.user__icon {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.hero__section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: calc(50vh + 50px);
    /* margin-block: 8vh; */
}

.hero__section_logo {
    width: 300px;
}

.hero__section_title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
}

.hero__section_input_container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    min-width: 180px;
    border-radius: 10px;
}

.input_container_location,
.input_container_search {
    padding: 6px;
    border: none;
    /* width: 80%; */
    min-width: 80px;
    outline: none;
}

.input_container_location {
    width: 35%;
    border-right: 2px solid rgb(197, 197, 197);
}

.input_container_search {
    width: 65%;
}


/* ------------------------------------------------------------------------------------ */
/* Section 2 (we offer) */
.section__we_offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.we__offer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    margin: 3rem auto;
}

.we__offer_card {
    width: 31%;
    min-width: 20%;
    height: 15rem;
    border: 0.5px solid rgb(230, 230, 230);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.we__offer_card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.we__offer_card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
}

.we__offer_card_content {
    height: 35%;
    color: rgb(54, 54, 54);
    padding: 15px;
}

.we__offer_card_content h2 {
    font-size: 20px;
    font-weight: 400;
}

.we__offer_card_content p {
    font-size: 16px;
    /* font-weight: 400; */
}


/* -------------------------------------------------------------------------------- */
/* collections */
.section__collections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collections_container {
    width: 100%;
}

.collections_heading {
    font-size: 36px;
    font-weight: 450;
}

.collections_subHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 18px;
    font-weight: 200;
}

.collections_subHeading span:last-child {
    color: #ff7e8b;
    font-size: 15px;
    cursor: pointer;
}

.collections_card_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.collections_card {
    width: 24%;
    min-width: 240px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

#collection_card1 {
    background-image: url("./images/collection1.jpg");
}

#collection_card2 {
    background-image: url("./images/collection2.jpg");
}

#collection_card3 {
    background-image: url("./images/collection3.jpg");
}

#collection_card4 {
    background-image: url("./images/collection4.jpg");
}

.collections_card .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.05) 50%,
            rgba(0, 0, 0, 0.05) 85%);
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
}

.content h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.content span {
    font-size: 16px;
}

/* .collections_card img{
    height: 250px;
    width: 200px;
    border-radius: 10px;
    align-content: center;
    object-fit: cover;
    object-position: center;
} */

@media only screen and (max-width: 1100px) {
    .collections_card_container {
        max-width: 820px;
    }

    .collections_card {
        width: 40%;
    }
}


/* -------------------------------------------------------------------------- */
/* Section Localities */

.section__localities {
    margin: 3rem auto;
}

.section__localities .localities_title {
    font-size: 46px;
    font-style: normal;
    font-weight: 300;
}

.localities_tiles_container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.localities_tile {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 7px;
    height: 6rem;
    width: 32.2%;
    min-width: 130px;
    padding: 12px 15px;
}

.localities_tile div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.localities_tile div:last-child {
    display: flex;
    align-items: center;
}

.tile_title {
    display: flex;
    flex-direction: column;
}

.localities_tiles_container .see_more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.see_more i{
    width: 1px;
}

@media only screen and (max-width: 944px) {
    .localities_tiles_container{
        justify-content: center;
    }
    
}


/* ------------------------------------------------------------------------- */
/* Section Get_the_App */

.section__get_the_app {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #FFFBF7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.get_the_app_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
    height: 480px;
    gap: 2rem;
}

.get_the_app_container .left {
    width: 250px;
    height: 450px;
    display: flex;
    align-items: center;
}

.get_the_app_container .left img {
    /* min-width: 250px; */
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get_the_app_container .right {
    font-size: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
}

.get_the_app_container .right h1 {
    font-weight: 400;
    font-size: 44px;
}

.get_the_app_container .right p {
    font-size: 16px;
}

.get_the_app_container .right .email_phone {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.get_the_app_container .right .email_phone div {
    /* height: 15%;
    width: 15%; */
    accent-color: rgb(239, 79, 95);
}

.share_app_link {
    width: 100%;
}

.share_app_link .input_container {
    display: flex;
    gap: 0.5rem;
    padding: 10px 12px 10px 0;
}

.share_app_link .input_container input {
    flex: auto;
    /* gap: 0.5rem; */
    padding: 10px;
    border: 1.5px solid rgb(221, 221, 221);
    border-radius: 7px;
    outline: none;
}

.share_app_link button {
    color: white;
    background-color: rgb(224, 53, 70);
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 7px;
    cursor: pointer;
}

.dwnld_app_from {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.dwnld_app_from p {
    font-weight: 200;
    color: gray;
    font-size: 14px;
}

.dwnld_app_from .tiles {
    display: flex;
    gap: 1rem;
}

.dwnld_app_from .tiles img {
    width: 137px;
}

/* media queries for get the app section */
@media only screen and (max-width: 540px) {
    .get_the_app_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .get_the_app_container .left {
        display: none;
    }

    .get_the_app_container .right {
        font-size: 16px;
        height: 100%;
        margin: auto;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1.2rem;
    }
}

/* ------------------------------------------------------------------------------- */
/* Section Footer */
.section__footer {
    padding: 3rem 0 2rem 0;
    width: 100%;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
}

.footer_container {
    max-width: 1100px;
    margin: auto;
    padding: 7px;
}

.footer_part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.footer_part1 img {
    width: 12%;
}

.footer_part1_button_container{
    display: flex;
    gap: 1.5rem;
}

.footer_part1_button_container button{
    font-size: larger;
    font-weight: 300;
    padding: 8px;
    border: 1px solid #cccbcb;
    border-radius: 7px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.footer_link_list_container{
    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    padding: 3rem 0;
}

.footer_link_list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_link_list h5, .footer_social_links h5{
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.footer_link_list .footer_link{
    text-decoration: none;
    color: #666666;
    font-size: 0.9rem;
}

.footer_link_list .footer_link:hover{
    color: black;
}

.footer_social_links{
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    gap: 2rem;
}

.footer_social_links button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.social_links_container{
    display: flex;
    gap: 0.5rem;
}
.social_links_container i{
    color: white;
}

.footer_section_logos img{
    width: 10vw;
}

.disclaimer p{
    color: #666666;
    font-size: 12px;
}




/* ------------------------------------------------------------------------------ */
/* media queries */
@media only screen and (max-width: 550px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar__menu__container {
        display: none;
    }

    .user__icon {
        display: flex;
    }

    .hero__section {
        min-height: 15vh;
    }

    .hero__section_container {
        justify-content: flex-end;
        height: calc(30vh + 12px);
        /* margin-block: 40vh; */
    }

    .hero__section_logo {
        width: 160px;
    }

    .hero__section_title {
        font-size: 20px;
        width: 90%;
    }

    .hero__section_input_container {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        padding-bottom: 3rem;
    }

    .input_container_location,
    .input_container_search {
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        width: 95%;
        min-width: 80px;
        border: none;
        outline: none;
    }

    /* section__Localities */
    .localities_tile {
        width: 90%;
    }

    .footer_container{
        padding: 20px;
    }

    .footer_link_list_container{
        justify-content: space-around;
    }

    .footer_social_links{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 700px) {

    /* section__we_offer */
    .we__offer_container {
        justify-content: flex-start;
        padding-left: 2rem;
    }

    .we__offer_card {
        min-width: 150px;
        height: 180px;
    }

    .we__offer_card img {
        width: 100%;
        height: 45%;
        object-fit: cover;
        object-position: center;
    }

    .we__offer_card_content {
        height: 35%;
        color: rgb(54, 54, 54);
        padding: 15px;
    }
}