* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-width: 310px;
}

.main {
    /* margin-inline: 18vw; */
    /* margin-inline: 10%; */
    /* width: 70vw; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero__section {
    /* background: url(./images/heroSectionBackground.png); */
    background-image: url(./images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 15px 45px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__menu__container {
    display: flex;
    gap: 50px;
}

.user__icon {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.hero__section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: calc(50vh + 50px);
    /* margin-block: 8vh; */
}

.hero__section_logo {
    width: 300px;
}

.hero__section_title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
}

.hero__section_input_container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    min-width: 180px;
    border-radius: 10px;
}

.input_container_location,
.input_container_search {
    padding: 6px;
    border: none;
    /* width: 80%; */
    min-width: 80px;
    outline: none;
}

.input_container_location {
    width: 35%;
    border-right: 2px solid rgb(197, 197, 197);
}

.input_container_search {
    width: 65%;
}

/* Section 2 (we offer) */
.section__we_offer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    width: 100%;
    margin: 3rem auto;
}

.we__offer_card {
    width: 25%;
    height: 16rem;
    border: 0.5px solid rgb(230, 230, 230);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.we__offer_card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.we__offer_card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
}

.we__offer_card_content {
    height: 35%;
    color: rgb(54, 54, 54);
    padding: 10px;
}

.we__offer_card_content h2 {
    font-size: 20px;
    font-weight: 400;
}

.we__offer_card_content p {
    font-size: 16px;
    /* font-weight: 400; */
}

/* collections */
.section__collections {
    
    max-width: 1200px;
}

.collections_heading{
    font-size: 36px;
    font-weight: 400;
}

.collections_subHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 18px;
    font-weight: 200;
}

.collections_subHeading span:last-child{
    color: #ff7e8b;
    font-size: 15px;
    cursor: pointer;
}

.collections_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.collections_card{
    min-width: 270px;
    height: 330px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

#collection_card1{
    background-image: url("./images/collection1.jpg");
}
#collection_card2{
    background-image: url("./images/collection2.jpg");
}
#collection_card3{
    background-image: url("./images/collection3.jpg");
}
#collection_card4{
    background-image: url("./images/collection4.jpg");
}

.collections_card .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0.05) 85%
    );
}

.content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.8rem;
}

.content h4{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.content span{
    font-size: 14px;
}

/* .collections_card img{
    height: 250px;
    width: 200px;
    border-radius: 10px;
    align-content: center;
    object-fit: cover;
    object-position: center;
} */

/* media queries */
@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar__menu__container {
        display: none;
    }

    .user__icon {
        display: flex;
    }

    .hero__section {
        min-height: 80vh;
    }

    .hero__section_container {
        justify-content: flex-end;
        /* height: calc(80vh + 60px); */
        /* margin-block: 40vh; */
    }

    .hero__section_logo {
        width: 160px;
    }

    .hero__section_title {
        font-size: 20px;
        width: 90%;
    }

    .hero__section_input_container {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .input_container_location,
    .input_container_search {
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        width: 95%;
        min-width: 80px;
        border: none;
        outline: none;
    }
}